<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" fill="clear">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>News Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-img [src]="news.mainImageUrl"></ion-img>
    <h1>
      <b>{{ news.title }}</b>
    </h1>
    <ion-card-subtitle>Viewed {{ news.viewed }} times</ion-card-subtitle>
    <p>{{ news.content }}</p>

    <swiper-container
      #swiper
      *ngIf="news.contentImageUrl && news.contentImageUrl.length > 0"
      [modules]="swiperModules"
      init="false"
    >
      <swiper-slide
        *ngFor="let imageUrl of news.contentImageUrl; let i = index"
      >
        <ion-img [src]="imageUrl" [alt]="'News image ' + (i + 1)"></ion-img>
      </swiper-slide>
    </swiper-container>

    <div class="rating-section ion-margin-top">
      <h3>Give your rating:</h3>
      <div class="rating-stars">
        <ion-icon
          class="rating-star-clickable"
          *ngFor="let star of ratingStars"
          [name]="star <= userRating ? 'star' : 'star-outline'"
          [color]="star <= userRating ? 'warning' : 'medium'"
          (click)="onStarClick(star)"
          size="large"
        >
        </ion-icon>
      </div>
      <p class="rating-text" *ngIf="userRating > 0">
        You rated: {{ userRating }} star{{ userRating !== 1 ? 's' : '' }}
      </p>
    </div>

    <div class="favorite-section ion-margin-top">
      <h4>Like this article? Save to favorite:</h4>
      <ion-icon
        [name]="liked ? 'heart' : 'heart-outline'"
        [color]="liked ? 'danger' : 'medium'"
        (click)="onHeartClick()"
        size="large"
      >
      </ion-icon>
    </div>

    <ion-button
      class="ion-margin-top"
      (click)="openCommentsModal()"
      expand="block"
      fill="outline"
    >
      <ion-icon name="chatbubbles-outline" slot="start"></ion-icon>
      View Comments ({{ commentCount }})
    </ion-button>
  </div>
</ion-content>

<ion-modal
  #commentsModal
  [isOpen]="isCommentsModalOpen"
  [breakpoints]="[0, 1]"
  [initialBreakpoint]="1"
  (ionModalDidDismiss)="onModalDismiss()"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Comments</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeCommentsModal()" fill="clear">
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item *ngIf="comments.length === 0">
          <ion-label>
            <p>No comments yet. Be the first to comment!</p>
          </ion-label>
        </ion-item>

        <ng-container *ngIf="comments.length > 0">
          <app-comment-item
            *ngFor="let comment of comments"
            [comment]="comment"
            (replyClicked)="handleReply($event)"
          ></app-comment-item>
        </ng-container>
      </ion-list>
    </ion-content>

    <ion-footer>
      <ion-item class="reply-indicator" *ngIf="replyingTo" lines="none">
        <ion-chip color="primary">
          <ion-label>Replying to {{ replyingTo.username }}</ion-label>
          <ion-icon (click)="cancelReply()" name="close"></ion-icon>
        </ion-chip>
      </ion-item>
      <ion-toolbar>
        <ion-item lines="none">
          <ion-input
            class="ion-margin-end"
            id="txtComment"
            [(ngModel)]="newCommentText"
            placeholder="Write a comment..."
            fill="outline"
          ></ion-input>

          <ion-button
            [disabled]="!newCommentText.trim()"
            (click)="postComment()"
            slot="end"
          >
            <ion-icon name="send" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>
