<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" fill="clear">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>News Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-img [src]="news.mainImageUrl"></ion-img>
    <h1>
      <b>{{ news.title }}</b>
    </h1>
    <p>{{ news.content }}</p>
    <swiper-container [loop]="true">
      <swiper-slide>
        <img [src]="news.contentImageUrl[0]" />
      </swiper-slide>
      <swiper-slide>
        <img [src]="news.contentImageUrl[1]" />
      </swiper-slide>
      <swiper-slide>
        <img [src]="news.contentImageUrl[2]" />
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>
