<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <div class="header-section">
      <ion-searchbar
        (ionInput)="onSearchChange($event)"
        showClearButton="focus"
        placeholder="Search for news..."
      >
      </ion-searchbar>
    </div>
    <app-news-card
      *ngFor="let news of newsResults"
      [title]="news.title"
      [imageUrl]="news.mainImgeUrl"
      [categories]="news.categoryNames"
      [rating]="news.rating"
      (click)="readNews(news.id)"
    ></app-news-card>
  </div>
</ion-content>
