{
    "tabWidth": 2,
    "singleQuote": true,
    "plugins": [
        "prettier-plugin-organize-attributes"
    ],
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        }
    ]
}