<ion-card>
  <ion-card-header>
    <ion-img [src]="imageUrl"></ion-img>
  </ion-card-header>

  <ion-card-content>
    <ion-card-title>
      <b>{{ title }}</b>
    </ion-card-title>

    <ion-grid>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="badge-container" size="5">
          @for (category of categories; track category) {
            <ion-badge color="secondary">{{ category }}</ion-badge>
          }
        </ion-col>

        <ion-col class="rating-container" size="1">
          <p>{{ rating.toFixed(1) }}</p>
          <ion-icon name="star" size="large" color="warning"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
