<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/portal/home"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Latest News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Latest News</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    @for (item of news; track item.id) {
      <app-news-card
        [title]="item.title"
        [imageUrl]="item.mainImgeUrl"
        [categories]="item.categoryNames"
        [rating]="item.rating"
        (click)="readNews(item.id)"
      ></app-news-card>
    }
  </div>
</ion-content>
